
html, body {
  background-color: #21232A;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: 10px;
}

button {
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 12px;
  margin-right: 5px;
}